@{
    ViewData["Title"] = "COMP_2084 - LAB 2";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <footer>
        Name: Mukul Hooda <br />
        Student Number: 200479341
    </footer>

</div>
